<!DOCTYPE html>
    <html>
    <head>
        <title>Кнопки и FastAPI</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Управление сервером через кнопки</h1>
        <button onclick="sendRequest('button1')">Ввимкнення ПК</button>
        <button onclick="sendRequest('button2')">Ввимкнення Roblox</button>
        <button onclick="sendRequest('action3')">Перезапуск роутера (Поки недоступно)</button>
        <div id="response"></div>
        <script src="/static/script.js"></script>
    </body>
    </html>