<!DOCTYPE html>
    <html>
    <head>
        <title>💥Dark Shark - by suns v1</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>👤Панель швидкого доступу</h1>
        <button onclick="sendRequest('button1')">🛑Ввимкнення ПК</button>
        <button onclick="sendRequest('button2')">❎Ввимкнення Roblox</button>
        <button onclick="sendRequest('action3')">🛜Перезапуск роутера (Поки недоступно)</button>
        <div id="response"></div>
        <script src="/static/script.js"></script>
        <a href="https://t.me/trusres">💎Developer</a>
    </body>
    </html>